WORDPRESS_DB_HOST=mariadb:3306
WORDPRESS_DB_USER={{ db_user }}
WORDPRESS_DB_PASSWORD={{ db_pass }}
WORDPRESS_DB_NAME={{ db_name }}
PMA_HOST=mariadb
PMA_PASSWORD={{ db_pass }}
PMA_ABSOLUTE_URI=http://{{ domain }}/phpmyadmin/
